@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

body {
	background: #212139;
	color: #fff;
}

a {
	color: #fff;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

.contenedor {
	max-width: 500px;
	width: 90%;
	margin: 40px auto;
}

label {
	line-height: 40px;
}

input {
	text-align: center;
	border: none;
}